.search {
    margin: 50px 0;
}

#submit, #submit:hover, #submit:active {
    color: #000;
    background: none;
    border: none;
}

.nav-item a {
    cursor: pointer;
}

.tab-content {
    margin-bottom: 40px;
}

.footer {
    padding: 1.5em 0;
    background-color: #f8f9fa;
}

.footer span {
    display: block;
}