.search {
    margin: 50px 0;
}

#submit, #submit:hover, #submit:active {
    color: #000;
    background: none;
    border: none;
}

.nav-item a {
    cursor: pointer;
}

.tab-content {
    margin-bottom: 40px;
}

.footer {
    padding: 40px 0;
    text-align: center;
    background-color: #f8f9fa;
}