.flex-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.search {
    margin: 50px 0;
}

#submit, #submit:hover, #submit:active {
    color: #000;
    background: none;
    border: none;
}

.spinner {
    margin-right: 10px;
}

.nav-item a {
    cursor: pointer;
}

.tab-content {
    margin-bottom: 40px;
}

.footer {
    padding: 1.5em 0;
    background-color: #f8f9fa;
}

.footer span {
    display: block;
    color: #7d7d7d;
    font-weight: 300;
}

.footer a {
    text-decoration: none;
}