.info-group {
    display: grid;
    grid-template-columns: minmax(7em, 25%) minmax(50%, 75%);
    grid-gap: 0 2em;
    padding: 1.75em 30px;
    border-top: 1px solid #dee2e6;
}

.info-group-title {
    font-size: 1em;
    font-weight: 700;
    text-align: end;
    margin-block-end: 1em;
}

.info-item {
    line-height: 30px;
    display: contents;
    word-break: break-word;
}

.info-item label {
    text-align: end;
}

/* spacing between anchors: https://stackoverflow.com/a/23870615/9698467 */
.info-item a ~ a {
    padding-left: 5px;
}